// General Colors
$dark-col: #2d3133;
$light-col: $dark-col + #222222;
$bg-col: #eaeaea;

// Header
$header-maintext-size: 72px;
$header-maintext-color: #171717;
$header-description-size: $header-maintext-size / 4.5;
$header-description-color: #656565;

// Main Elements


// Footer Elements
$footer-bg: $dark-col;
$footer-margin-top: 25px;
$footer-padding-top: 25px;
$footer-padding-bottom: 25px;
$footer-text-col: $footer-bg + #555555;
$footer-text-size: 16px;
$footer-text-font: auto;
$footer-text-heading-size: 24px;
$footer-text-heading-font: 'Playfair Display', serif;
