@import "placeholders", "_variables", "mixins";

// Page Elements...
body {
    background-color: $bg-col;
}

p {
    color: $light-col;
}

.jumbotron {
    $padding-bottom: 25px;
    $margin-bottom: 0px;
    padding-bottom: $padding-bottom;
    padding-bottom: calculateRem($padding-bottom);
    margin-bottom: $margin-bottom;
    margin-bottom: calculateRem($margin-bottom);
}

.header-maintext {
    @include font-size($header-maintext-size);
    color: $header-maintext-color;
}
.header-description {
    @include font-size($header-description-size);
    color: $header-description-color;
}

// Element Modifiers
.text-center{
    text-align: center;
}

// Header Elements

// Main Body Elements

// Footer Elements
.footer-container {
    background-color: $footer-bg;
    color: $footer-text-col;
    margin-top: $footer-margin-top;
    padding-top: $footer-padding-top;
    padding-bottom: $footer-padding-bottom;
}

.footer-column {
    @include font-size($footer-text-heading-size);
    color: $footer-text-heading-size;
}

.footer-text-heading {
    @include font-size($footer-text-heading-size);
    font-family: $footer-text-heading-font;
}

.footer-text-normal {
    @include font-size($footer-text-size);
    font-family: $footer-text-font;
}

.textwidget {
    @include font-size($footer-text-size);
    font-family: $footer-text-font;
}

li {
    list-style-type: none;
    @include line-height($footer-text-size);
    a {
        @include font-size($footer-text-size);
        color: $footer-text-col;
    }
}

.copyright {
    color: $footer-text-col;
    text-align: right;
}
