@import "placeholders", "_variables", "mixins";

// Page Elements...
body {
    background-color: $bg-col;
}

p {
    color: $text-col;
}

.jumbotron {
    background-color: $bg-col;
    $padding-bottom: 25px;
    $margin-bottom: 0px;
    padding-bottom: $padding-bottom;
    padding-bottom: calculateRem($padding-bottom);
    margin-bottom: $margin-bottom;
    margin-bottom: calculateRem($margin-bottom);

}

.header-maintext {
    @include font-size($header-maintext-size);
    color: $header-maintext-color;
}

.header-description {
    @include font-size($header-description-size);
    color: $header-description-color;
}

.sow-headline {
    color: $header-maintext-color;
}

.sow-sub-headline {
    color: $header-description-color;
}

// Element Modifiers
.text-center{
    text-align: center;
}

// Header Elements
.navbar-custom {
    background-color: $dark-col;
    color: #ffffff;
    .navbar-brand {
        color: #ffffff;
    }
    .nav-link {
        color: rgba(255,255,255,.5);
    }
}

.navbar-toggler-icon {
    color: #ffffff !important;
}

.navbar-toggler-right {
    position: absolute;
    right: 16px;
    right: 16px;
    right: 16px;
    right: 16px;
    right: 1rem;
}

@media (min-width: 992px){
    .navbar-toggleable-md {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .navbar-toggleable-md .navbar-toggler {
        display: none;
    }
    .navbar-toggleable-md .navbar-collapse {
        display: -webkit-box!important;
        display: -ms-flexbox!important;
        display: flex!important;
    }
}

// Main Body Elements

// Footer Elements
.footer-container {
    background-color: $footer-bg;
    color: $footer-text-col;
    margin-top: $footer-margin-top;
    padding-top: $footer-padding-top;
    padding-bottom: $footer-padding-bottom;
}

.footer-column {
    @include font-size($footer-text-heading-size);
    color: $footer-text-heading-size;
}

.footer-text-heading {
    @include font-size($footer-text-heading-size);
    font-family: $footer-text-heading-font;
}

.footer-text-normal {
    @include font-size($footer-text-size);
    font-family: $footer-text-font;
}

.textwidget {
    @include font-size($footer-text-size);
    font-family: $footer-text-font;
}

li {
    list-style-type: none;
    @include line-height($footer-text-size);
    a {
        @include font-size($footer-text-size);
        color: $footer-text-col;
    }
}

.copyright {
    color: $footer-text-col;
    text-align: right;
    margin-bottom: 0px;
    margin-right: 5px;
}

// NAVBAR TOGGLER CSS
html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}
body {
  padding-top: 70px;
}
footer {
  padding: 30px 0;
}

/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all .25s ease-out;
            transition: all .25s ease-out;
  }

  .row-offcanvas-right {
    right: 0;
  }

  .row-offcanvas-left {
    left: 0;
  }

  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -100%; /* 12 columns */
  }

  .row-offcanvas-right.active
  .sidebar-offcanvas {
    right: -50%; /* 6 columns */
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -100%; /* 12 columns */
  }

  .row-offcanvas-left.active
  .sidebar-offcanvas {
    left: -50%; /* 6 columns */
  }

  .row-offcanvas-right.active {
    right: 50%; /* 6 columns */
  }

  .row-offcanvas-left.active {
    left: 50%; /* 6 columns */
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 50%; /* 6 columns */
  }
}
