@import "placeholders", "_variables", "mixins";

// Page Elements...
body {
    background-color: $bg-col;
}

.header-maintext {
    @include font-size($header-maintext-size);
    color: $header-maintext-color;
}
.header-description {
    @include font-size($header-description-size);
    color: $header-description-color;
}

// Element Modifiers
.text-center{
    text-align: center;
}

// Header Elements

// Main Body Elements

// Footer Elements
.footer-container{
    background-color: $footer-bg;
    color: $footer-text-col;
    margin-top: $footer-margin-top;
    padding-top: $footer-padding-top;
    padding-bottom: $footer-padding-bottom;
}

.footer-text-heading {
    @include font-size($footer-text-heading-size);
    font-family: $footer-text-heading-font;
}

.footer-text-normal {
    @include font-size($footer-text-size);
    font-family: $footer-text-font;
}
