body {
  background-color: #eaeaea;
}

p {
  color: #656565;
}

.jumbotron {
  background-color: #eaeaea;
  padding-bottom: 25px;
  padding-bottom: 1.5625rem;
  margin-bottom: 0px;
  margin-bottom: 0rem;
}

.header-maintext {
  font-size: 72px;
  font-size: 4.5rem;
  color: #171717;
}

.text-center {
  text-align: center;
}

.navbar-custom {
  background-color: #004181;
  color: #ffffff;
}

.navbar-custom .navbar-brand {
  color: #ffffff;
}

.navbar-custom .nav-link {
  color: rgba(255, 255, 255, 0.5);
}

@media (max-width: 992px) {
  .navbar-custom .dropdown.nav-item > .dropdown-menu {
    border-radius: 0px;
    border-width: 0px;
    margin-left: 30px;
    margin-top: 0px;
    background-color: #004181;
    padding: 0rem 0;
  }
}

.navbar-custom .dropdown.nav-item > .dropdown-menu > .nav-item > .nav-link {
  color: #5596d6;
}

@media (max-width: 992px) {
  .navbar-custom .dropdown.nav-item > .dropdown-menu > .nav-item > .nav-link {
    color: rgba(255, 255, 255, 0.5);
  }
}

.navbar-toggler-icon {
  color: #ffffff !important;
}

.navbar-toggler-right {
  position: absolute;
  right: 16px;
  right: 1rem;
}

@media (min-width: 992px) {
  .navbar-toggleable-md {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .navbar-toggleable-md .navbar-toggler {
    display: none;
  }

  .navbar-toggleable-md .navbar-collapse {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
}

.footer-container {
  background-color: #004181;
  color: #5596d6;
  margin-top: 25px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.footer-column {
  font-size: 24px;
  font-size: 1.5rem;
  color: 24px;
}

.textwidget {
  font-size: 16px;
  font-size: 1rem;
  font-family: auto;
}

li {
  list-style-type: none;
  line-height: 21px;
  line-height: 1.3125rem;
}

li a {
  font-size: 16px;
  font-size: 1rem;
  color: #5596d6;
}

html,
body {
  overflow-x: hidden;
  /* Prevent scroll on narrow devices */
}

.container-fullwidth.header {
  padding-top: 0px;
}
